### **Datos de Precios**

In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import shapiro

In [40]:

# Leer todas las hojas del archivo
xls = pd.ExcelFile("Precios-Promedio-Nacionales-Diarios-2025-1.xlsx")
df_list = []

for sheet in xls.sheet_names:
    df = pd.read_excel(xls, sheet_name=sheet, skiprows=7)
    df = df.dropna(how='all')  # Eliminar filas completamente vacías
    df_list.append(df)

# Unir todas las hojas en un solo DataFrame
df_total = pd.concat(df_list, ignore_index=True)
columnas_deseadas = ['FECHA', 'Superior', 'Regular', 'Diesel', 'Glp Cilindro 25Lbs.']
df_Precios = df_total[columnas_deseadas]
# Ver los primeros datos
df_Precios.head()

                 FECHA  Superior  Regular  Diesel  Glp Cilindro 25Lbs.
0  2025-01-01 00:00:00     28.95    27.45   25.47                110.0
1  2025-01-02 00:00:00     28.95    27.45   25.47                110.0
2  2025-01-03 00:00:00     28.95    27.45   25.47                110.0
3  2025-01-04 00:00:00     28.95    27.45   25.47                110.0
4  2025-01-05 00:00:00     28.95    27.45   25.47                110.0

In [41]:
df_Precios = df_Precios.dropna(how='all')
df_Precios = df_Precios.dropna(subset=['FECHA', 'Superior', 'Regular', 'Diesel', 'Glp Cilindro 25Lbs.'])
df_Precios = df_Precios.rename(columns={"Glp Cilindro 25Lbs.": "Gas Licuado De Petróleo"})
df_Precios = df_Precios.rename(columns={"FECHA": "Fecha"})

In [42]:
df_Precios.head()

                 Fecha  Superior  Regular  Diesel  Gas Licuado De Petróleo
0  2025-01-01 00:00:00     28.95    27.45   25.47                    110.0
1  2025-01-02 00:00:00     28.95    27.45   25.47                    110.0
2  2025-01-03 00:00:00     28.95    27.45   25.47                    110.0
3  2025-01-04 00:00:00     28.95    27.45   25.47                    110.0
4  2025-01-05 00:00:00     28.95    27.45   25.47                    110.0

In [43]:
df_Precios["Fecha"] = pd.to_datetime(df_Precios["Fecha"], errors="coerce")
df_Precios.set_index("Fecha", inplace=True)