### **Datos de Consumo**
#### **Consumo 2025**

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import shapiro

In [3]:
df = pd.read_excel("VENTAS-HIDROCARBUROS-2025-05.xlsx", skiprows=6)

# Eliminar filas completamente vacías
df = df.dropna(how='all')

# Convertir la columna de fecha antes de filtrar
df["Fecha"] = pd.to_datetime(df["Fecha"], errors="coerce")

# Filtrar columnas deseadas
df_consumo_2025 = df[[
    "Gasolina regular",
    "Gasolina superior",
    "Diesel bajo azufre",
    "Gas licuado de petróleo",
    "Fecha"
]]

# Renombrar la columna
df_consumo_2025 = df_consumo_2025.rename(columns={"Diesel bajo azufre": "Diesel"})

# Verificar
print(df_consumo_2025.head())

   Gasolina regular  Gasolina superior      Diesel  Gas licuado de petróleo  \
0         828269.64          702319.64  1399798.38                581794.25
1         781113.92          651035.74  1343721.50                586541.02
2         895068.46          763939.48  1456533.00                589796.81
3         878741.74          746081.22  1384488.46                581405.92
4         893158.40          761100.59  1416602.71                594599.75

       Fecha
0 2025-01-01
1 2025-02-01
2 2025-03-01
3 2025-04-01
4 2025-05-01

#### **Consumo hasta 2024**

In [4]:


df = pd.read_excel("CONSUMO-HIDROCARBUROS-2024-12.xlsx", skiprows=6)
df = df.dropna(how='all')


df["Diesel"] = df["Diesel bajo azufre"] + df["Diesel alto azufre"]


df["Fecha"] = pd.to_datetime(df["Fecha"], errors="coerce")


df_consumo_hasta2024 = df[[
    "Gasolina regular",
    "Gasolina superior",
    "Diesel",
    "Gas licuado de petróleo",
    "Fecha"
]]


print(df_consumo_hasta2024.head())

   Gasolina regular  Gasolina superior     Diesel  Gas licuado de petróleo  \
0         202645.20          308156.82  634667.06            194410.476190
1         205530.96          307766.31  642380.66            174710.552381
2         229499.56          331910.29  699807.25            189234.066667
3         210680.40          315648.08  586803.98            174330.607143
4         208164.34          319667.97  656948.20            191745.147619

       Fecha
0 2000-01-01
1 2000-02-01
2 2000-03-01
3 2000-04-01
4 2000-05-01

In [5]:
# Unir df_2024 y df_2025 verticalmente
df_consumo_total = pd.concat([df_consumo_hasta2024, df_consumo_2025], ignore_index=True)

In [6]:
df_consumo_total.head()

,Gasolina regular,Gasolina superior,Diesel,Gas licuado de petróleo,Fecha
0,202645.20,308156.82,634667.06,194410.476190,2000-01-01
1,205530.96,307766.31,642380.66,174710.552381,2000-02-01
2,229499.56,331910.29,699807.25,189234.066667,2000-03-01
3,210680.40,315648.08,586803.98,174330.607143,2000-04-01
4,208164.34,319667.97,656948.20,191745.147619,2000-05-01

In [ ]:
df_consumo_total.to_csv("consumo_completa.csv", index=True)